
        <article class="uk-article uk-card uk-card-default uk-card-body uk-animation-toggle uk-animation-fade uk-margin-large-top">
            <h1 class="uk-article-title"><a class="uk-link-reset" href=""><b>Tentang Website My Game Shop</b></a></h1>
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <table>
                    <tr>
                        <td>    Website ini di buat untuk mempermudah kalangan milenial yang berfokus di dunia game untuk melakukan pembelian saldo game atau sering disebut dengan top up.</td>
                    </tr>
                    <tr>
                        <td>Di sini kami menyediakan saldo game yang sesuai dengan harga terjangkau, aman, dan terpercaya.</td>
                    </tr>
                </table>
            </div>
        </article>
        <router-outlet></router-outlet>
    
    
    